<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Belo Horizonte Perl Mongers - [% config.appname %]</title>

    <!-- Bootstrap core CSS -->
    <link href="[% request.uri_base %]/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="[% request.uri_base %]/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="[% request.uri_base %]/js/html5shiv.js"></script>
      <script src="[% request.uri_base %]/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="[% request.uri_base %]">Home</a></li>
          <li><a href="[% request.uri_base %]/sobre">Sobre</a></li>
          <li><a href="http://mail.pm.org/mailman/listinfo/bh-pm">Lista</a></li>
          <li><a href="[% request.uri_base %]/contato">Contato</a></li>
        </ul>
        <h3 class="text-muted"><img src="[% request.uri_base %]/images/bh.160x36.png"></h3>
      </div>

      <div class="jumbotron">
        <h1>BHPM</h1>
        <p class="lead">Site Belo Horizonte Perl Mongers</p>
        <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
      </div>
      
      <div class="container">
      [% content %]
      </div>


      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>


