      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Perl News</h4>
          <p><ul>[% news %]</ul></p>
        </div>

        <div class="col-lg-6">
          <h4>Últimas Atualizações no CPAN</h4>
          <p><ul>[% update %]</ul></p>
        </div>
      </div>
