      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Perl News</h4>
          <p>[% news %]</p>
        </div>

        <div class="col-lg-6">
          <h4>Últimas Atualizações no CPAN</h4>
          <p>[% update %]</p>
        </div>
      </div>
